/*@author tsh*/
.menu-column{
	overflow: hidden;
	height: 115px;
	padding: 0;
}
.logo{
	height: auto;
}
.logo img{
	width: 150px;
}
.eara_list{
	padding: 55px 0 0 170px;
	position: absolute;
}
.search {
	padding: 42px 0 0 212px;
}
.header .frt,.header .zxp{
	margin-top: 28px;
}
#nav .nav{
	width: 950px;
	height: 34px;
	border-bottom: 3px solid #F4A112;
}
.cat-box{
	border:none;
}
.category-list{
	width: 240px;
}
.category-list .category-item{
	width: 100%;
	padding: 0;
	height: 125px;
	position: relative;
}
.category-list .category-item .icon{
	position: absolute;
	top: 32px;
	left: 55px;
}
.category-list .category-item .indexCateDoor{
	color: #fff;
	font-size: 16px;
	position: absolute;
	left: 112px;
	top: 48px;
	font-weight: bold;
}
.category-list .green1{
	-moz-box-shadow:0px 4px 5px #8B8B8B;
	box-shadow:0px 4px 5px #8B8B8B;
	background: #3A9B3E;
}
.category-list .green2{
	background: #59AB5C;
	border-bottom: 1px solid #D2DFD2;
}

        .indexBanner{ width:950px; height:377px; overflow:hidden; position:relative;}
        .indexBanner .hd{ height:20px; overflow:hidden; position:absolute; right:5px; bottom:5px; z-index:1; }
        .indexBanner .hd ul{ overflow:hidden; zoom:1; float:left;  }
        .indexBanner .hd ul li{
		background: #000;
		border-radius: 20px;
		-moz-border-radius: 20px;
		-webkit-border-radius: 20px;
		display: inline-block;
		height: 20px;
		margin-right: 6px;
		overflow: hidden;
		vertical-align: top;
		width: 20px;
		color: #FFF;
		line-height: 20px;
		text-align: center;
		font-family: arial;
         float:left; margin-right:2px;cursor:pointer; }
        .indexBanner .hd ul li.on{ background:#f00; color:#fff; }
        .indexBanner .bd{ position:relative; height:100%; z-index:0;   }
        .indexBanner .bd li{ zoom:1; vertical-align:middle; }
        .indexBanner .bd img{width:950px; height:380px;display:block;  }

        /* 下面是前/后按钮代码，如果不需要删除即可 */
        .indexBanner .prev,
        .indexBanner .next{ position:absolute; left:3%; top:50%; margin-top:-25px; display:block; width:42px; height:75px; background:url(../images/icon-slides.png) 0px 0px no-repeat; filter:alpha(opacity=50);opacity:0.5;   }
        .indexBanner .next{ left:auto; right:3%; background-position:-42px 0px; }
        .indexBanner .prev:hover,
        .indexBanner .next:hover{ filter:alpha(opacity=100);opacity:1;  }
        .indexBanner .prevStop{ display:none;  }
        .indexBanner .nextStop{ display:none;  }
.banner-pic {
	float: right;
	width: 949px;
	height: 125px;
	overflow: hidden;
}
.banner-pic a{
	display: block;
	width: 237px;
	height: 125px;
	float: left;
}
.banner-pic a img{
	width: 237px;
}
.floor .hd h3{
	font-size: 20px;
	font-family: "Microsoft Yahei";
	color: #74A10C;
	font-weight: normal;
}
		.indexFloorGoods{ width:240px; height:520px; overflow:hidden; position:relative; border:1px solid #ddd;  }
		.indexFloorGoods .hd{ height:15px; overflow:hidden; position:absolute; right:5px; bottom:5px; z-index:1; }
		.indexFloorGoods .hd ul{ overflow:hidden; zoom:1; float:left;  }
		.indexFloorGoods .hd ul li{ float:left; margin-right:2px;  width:15px; height:15px; line-height:14px; text-align:center; background:#fff; cursor:pointer; }
		.indexFloorGoods .hd ul li.on{ background:#f00; color:#fff; }
		.indexFloorGoods .bd{ position:relative; height:100%; z-index:0;   }
		.indexFloorGoods .bd li{ zoom:1; vertical-align:middle; }
		.indexFloorGoods .bd img{ width:240px; height:520px; display:block;  }